<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.OrTools" version="8.1.8487" targetFramework="net461" />
  <package id="Google.OrTools.runtime.linux-x64" version="8.1.8487" targetFramework="net461" />
  <package id="Google.OrTools.runtime.osx-x64" version="8.1.8487" targetFramework="net461" />
  <package id="Google.OrTools.runtime.win-x64" version="8.1.8487" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
</packages>